{% extends 'base.html' %}

{% block contents %}
  <h1>DETAIL</h1>
  <hr>
  <h1>{{ question.title }}</h1>
  <h3>Red TEAM</h3>
  <h4>=> {{ question.RED_TEAM }}</h4>
  <br>
  <br>
  <h3>Blue TEAM</h3>
  <h4>=> {{ question.BLUE_TEAM }}</h4>
  <hr>
  <a href="{% url 'eithers:index' %}">BACK</a>
  <hr>
  <h3>댓글 작성</h3>
  <form action="{% url 'eithers:comment_create' question.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="작성">
  </form>
  <hr>
  <ul>
    {% for comment in comments %}
      <li> {{ comment.pick }} - {{ comment.content }} </li>
    {% endfor %}
  </ul>
{% endblock contents %}