{% extends 'base.html' %}

{% block contents %}
  <h1>Hello, {{ request.user }}</h1>
  <h1>Todo</h1>
  <hr>
  <ul>
    {% for todo in todos %}
      <li>
        {{ todo.author }} - {{ todo.title }}
        {% if request.user == todo.author %}
          <form action="{% url 'todos:change' todo.pk %}" method = "POST">
            {% csrf_token %}
            {% if todo.completed == True %}
              <input type="submit" value="취소하기">
            {% else %}
              <input type="submit" value="완료하기">
            {% endif %}
          </form>
          <form action="{% url 'todos:delete' todo.pk %}" method="POST">
            {% csrf_token %}
            {% if todo.author == request.user %}
              <input type="submit" value="삭제하기">
            {% endif %}
          </form>
        {% endif %}
      </li>
      {% empty %}
        <p>작성된 글이 없습니다.</p>
    {% endfor %}    
  </ul>
{% endblock contents %}